@keyframes banner{
    from { transform: translateX(0%);}
    to{ transform: translateX(-50%)}
}



.carrousel{
    width: 100%;
    max-width: 120em;
    background-color: transparent;
    overflow: hidden;
    .imgContainer{
        width: 200%;
        background-color: transparent;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        transition: all .5s ease;
        transform: translateX(0%);
        //animation: banner 10s infinite linear;
    }

    .img{
        width: calc(100% / 2);
        background-color: transparent;
        min-height: 10vh;
        height: 249px;
        }
        .puntos{
            width: 100%;
            background-color: transparent;
            padding: .1em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        .punto{
            width: .7em;
            height: .7em;
            background-color: rgb(213, 213, 213);
            margin: .2em;
            border-radius: 100%;
        }
    .punto.active{
        background-color: rgb(94, 94, 94);
        }
}